/* #region GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1770px;
    margin: auto;
    width: 80%;
}

.m4 {
    margin: 4px 0;
}

/* #endregion GLOBAL RULES */

.row {
    margin-top: 2rem;
}

.card {
    float: left;
    width: calc(96% / 3);
    background-color: rgb(15, 14, 23);
    color: white;
}

.imageContainer {
    width: calc(100% / 4);
    float: left;
}

.imageContainer img {
    width: 100%;
}

.memberData {
    width: calc(75%);
    height: 100%;
    float: right;
    padding: 0.2rem;
    overflow: auto;
}

.card:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

a {
    color: rgb(0, 186, 243);
    text-decoration: none;
    display: inline-block;
}