/* #region GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1770px;
    margin: auto;
    width: 80%;
}

/* #endregion GLOBAL RULES */

.card {
    float: left;
    width: calc(100% / 3);
    background-color: rgb(15, 14, 23);
    color: white;
}

.card img {
    float: left;
    width: calc(100% / 4);
    margin-right: 0.5rem;

}

a {
    color: rgb(0, 186, 243);
    text-decoration: none;
}

.m4 {
    margin: 4px 0;
}